Hypothesis: Determine how the California real estate market has been affected by the national interest rate

- L/C Price - needs to get converted to integer
- Contract Status Change Date - needs to be converted to date / time
- Convert LSqft/Ac	- convert to integer
- Seperate Bed/Bath by commas
-

import pandas as pd
import numpy as np
pd.read_csv("Resources/")
real_estate_pd = pd.read_csv("Resources/California_Real_Estate_Raw_Data_Set.csv")
real_estate_pd.head()
real_estate_pd.columns
real_estate_pd['County '].astype(str).astype(int)
CA_real_estate_df = real_estate_pd
CA_real_estate_df
CA_real_estate_df = int(CA_real_estate_df)

## To do:
Interest Rates per month
Hypothesis testing
Analyze the data showing the

In [1]:
#My Notes
# import pandas as pd
# import numpy as np
# import datetime as dt
# real_estate_pd = pd.read_csv("Resources/California_Real_Estate_Raw_Data_Set.csv")
# real_estate_pd.head()
# real_estate_pd.columns
# real_estate_pd['County '].astype(str).astype(int)
# ca_real_estate = real_estate_pd[["Listing ID","City","L/C Price","County"]]
# ca_real_estate.head()
# CA_real_estate_df = real_estate_pd
# CA_real_estate_df
# CA_real_estate_df = int(CA_real_estate_df)
#ca_real_estate_sorted_df_JM = ca_real_estate_sorted_df[(ca_real_estate_sorted_df.Date >= "2018-08-15") & (ca_real_estate_sorted_df.Date <= "2019-05-31")]
#import datetime as dt
#ca_real_estate_sorted_df.Date[(ca_real_estate_sorted_df.Date.dt.month == 9) & (ca_real_estate_sorted_df.Date.dt.year == 2019)].value_counts().sum()
#ca_real_estate_sorted_df['Date'].value_counts().hist()
#ca_real_estate_sorted_df['Date'].groupby([ca_real_estate_sorted_df["Date"].dt.year,ca_real_estate_sorted_df["Date"].dt.month]).count().plot(kind="bar")
#ca_real_estate_sorted_df = ca_real_estate_df.sort_values(by='Date')
#ca_real_estate_sorted_df.Date
#ca_real_estate_sorted_df.info()

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt

In [3]:
pd.set_option('display.max_columns', 30)

In [4]:
ca_real_estate = pd.read_csv("Resources/California_Real_Estate_Raw_Data_Set.csv")
current_prices = pd.read_csv("Resources/Current_prices.csv")

In [5]:
ca_real_estate_df = ca_real_estate
current_market_df = current_prices

In [6]:
ca_real_estate_df.rename(columns = {"Contract Status Change Date": "Date"}, inplace = True)
current_market_df.rename(columns = {"Contract Status Change Date": "Date"}, inplace = True)

In [7]:
ca_real_estate_df.Date = pd.to_datetime(ca_real_estate_df.Date, format = "%m/%d/%y")
current_market_df.Date = pd.to_datetime(current_market_df.Date, format = "%m/%d/%y")

In [8]:
ca_real_estate_df["month"] = ca_real_estate_df.Date.dt.month
current_market_df['month'] = current_market_df.Date.dt.month

In [9]:
ca_real_estate_df["Year"] = ca_real_estate_df.Date.dt.year
current_market_df['Year'] = current_market_df.Date.dt.year

In [10]:
ca_real_estate_df[['Price Per Square Foot']] = ca_real_estate_df[['Price Per Square Foot']].replace('[\$,]','',regex=True).astype(float)
current_market_df[['Price Per Square Foot']] = current_market_df[['Price Per Square Foot']].replace('[\$,]','',regex=True).astype(float)

In [11]:
ca_real_estate_df[['L/C Price']] = ca_real_estate_df[['L/C Price']].replace('[\$,]','',regex=True).astype(float)
current_market_df[['L?C Price']] = current_market_df[['L/C Price']].replace('[\$,]','',regex=True).astype(float)

In [12]:
ca_real_estate_df[["Sqft"]] = ca_real_estate_df.Sqft.str.split('/', expand=True).drop([1], axis = 1)
current_market_df[['Sqft']] = current_market_df.Sqft.str.split('/', expand=True).drop([1], axis = 1)

In [13]:
ca_real_estate_df[["YrBuilt"]] = ca_real_estate_df.YrBuilt.str.split('/', expand=True).drop([1], axis = 1)
current_market_df[['YrBuilt']] = current_market_df.YrBuilt.str.split('/', expand=True).drop([1], axis = 1)

In [14]:
ca_real_estate_df[["Bed & Bath", "A", "B", "C"]] = ca_real_estate_df['Br/Ba'].str.split(",", expand = True)
ca_real_estate_df[["Bed", "Bath"]] = ca_real_estate_df["Bed & Bath"].str.split("/", expand = True)

current_market_df[["Bed & Bath", "A", "B", "C"]] = current_market_df['Br/Ba'].str.split(",", expand = True)
current_market_df[["Bed", "Bath"]] = current_market_df["Bed & Bath"].str.split("/", expand = True)
#fix bathroom into a float

In [15]:
ca_real_estate_df = ca_real_estate_df.drop(columns = ['Bed & Bath'])
current_market_df = current_market_df.drop(columns = ['Bed & Bath'])

In [16]:
ca_real_estate_df.rename(columns = {"Sqft": "Sqft/A"}, inplace = True)
ca_real_estate_df[["LSqft", "Ac"]] = ca_real_estate_df['LSqft/Ac'].str.split('/', expand = True).replace('[\$,]','',regex=True).astype(float)

current_market_df.rename(columns = {"Sqft": "Sqft/A"}, inplace = True)
current_market_df[["LSqft", "Ac"]] = current_market_df['LSqft/Ac'].str.split('/', expand = True).replace('[\$,]','',regex=True).astype(float)

In [17]:
sales_data_month_df = ca_real_estate_df.loc[:,["Listing ID", "L/C Price", "month", "County " ]]
sales_data_year_df = ca_real_estate_df.loc[:,["Listing ID", "L/C Price", "Year"]]

In [18]:
sales_data_month_df.month.unique()

array([ 9.,  8.,  7.,  6.,  5.,  2., 10., 11.,  3., nan,  4.,  1.])

In [19]:
Jan_df = sales_data_month_df[sales_data_month_df["month"] == 1.]
Feb_df = sales_data_month_df[sales_data_month_df["month"] == 2.]
March_df = sales_data_month_df[sales_data_month_df["month"] == 3.]
April_df = sales_data_month_df[sales_data_month_df["month"] == 4.]
May_df = sales_data_month_df[sales_data_month_df["month"] == 5.]
June_df = sales_data_month_df[sales_data_month_df["month"] == 6.]
July_df = sales_data_month_df[sales_data_month_df["month"] == 7.]
August_df = sales_data_month_df[sales_data_month_df["month"] == 8.]
Sept_df = sales_data_month_df[sales_data_month_df["month"] == 9.]
Oct_df = sales_data_month_df[sales_data_month_df["month"] == 10.]

In [20]:
orange_county = ca_real_estate_df[ca_real_estate_df['County '] == "Orange"]
Riverside_county = ca_real_estate_df[ca_real_estate_df['County '] == "Riverside"]
LA_county = ca_real_estate_df[ca_real_estate_df['County '] == "Los Angeles"]

In [21]:
LA_July = LA_county[LA_county['month'] == 7.]
LA_August = LA_county[LA_county['month'] == 8.]
LA_September = LA_county[LA_county['month'] == 9.]

In [22]:
Orange_July = orange_county[orange_county['month'] == 7.]
Orange_August = orange_county[orange_county['month'] == 8.]
Orange_September = orange_county[orange_county['month'] == 9.]

In [23]:
#T-Test July-Aug
ttest_ind(LA_July['L/C Price'], LA_August['L/C Price'])

Ttest_indResult(statistic=0.3852604381818285, pvalue=0.7000715473909171)

In [24]:
#T-Test Aug- Sept
ttest_ind(LA_August['L/C Price'], LA_September['L/C Price'])

Ttest_indResult(statistic=0.6544382122427264, pvalue=0.5128696349155442)

In [25]:
#T-Test July-Sept
ttest_ind(LA_July['L/C Price'], LA_September['L/C Price'])

Ttest_indResult(statistic=0.9641471110255895, pvalue=0.3350516335231587)

In [26]:
LA_July.head()

,Unnamed: 0,Listing ID,S,Sub Type,St#,St Name,City,MLS Area,SLC,L/C Price,Price Per Square Foot,Br/Ba,Sqft/A,YrBuilt,LSqft/Ac,...,View YN,Pool Private YN,BAC,Date,MLS,County,month,Year,A,B,C,Bed,Bath,LSqft,Ac
3864,1,PW19173285,S,SFR/D,5861,Hardwick ST,LW,23,STD,557500.0,325.45,"4/2,0,0,0",1713,1951,"5,407/0.1241",...,N,N,2.5,2019-07-26,CRMLSM,Los Angeles,7.0,2019.0,0,0,0,4,2,5407.0,0.1241
3884,1,PW19173295,S,SFR/D,4708,Dunrobin AVE,LW,23,STD,765000.0,380.22,"4/3,0,0,0",2012,1950,"5,001/0.1148",...,N,Y,2.5,2019-07-31,CRMLSM,Los Angeles,7.0,2019.0,0,0,0,4,3,5001.0,0.1148
3972,1,PW19173644,S,SFR/D,6259 E,Monita ST,LONG,37,STD,950000.0,412.86,"4/3,0,0,0",2301,1961,"5,787/0.1329",...,N,N,2.5,2019-07-16,CRMLSM,Los Angeles,7.0,2019.0,0,0,0,4,3,5787.0,0.1329
3985,1,PW19163328,S,SFR/D,1930,Sharpless DR,LHH,88,STD,800000.0,208.01,"5/4,0,0,0",3846,1949,"49,190/1.1292",...,Y,Y,2,2019-07-10,CRMLSM,Los Angeles,7.0,2019.0,0,0,0,5,4,49190.0,1.1292
3993,1,SB19171860,S,SFR/D,5936 S,Chariton AVE,LADH,103,STD,1400000.0,696.86,"3/2,0,0,0",2009,1955,"7,802/0.1791",...,Y,N,2.5,2019-07-17,CRMLSM,Los Angeles,7.0,2019.0,0,0,0,3,2,7802.0,0.1791

In [27]:
LA_county_df = "Listing ID", "Date", "County", "month"