In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
#how the California real estate market has been affected by the increase in interest rate. 
pd.set_option('display.max_columns', 30)

In [52]:
ca_real_estate = pd.read_csv("Resources/California_Real_Estate_Raw_Data_Set.csv")
current_prices = pd.read_csv("Resources/Current_prices.csv")

In [56]:
ca_real_estate_df = ca_real_estate
current_market_df = current_prices

In [57]:
ca_real_estate_df.rename(columns = {"Contract Status Change Date": "Date"}, inplace = True)
current_market_df.rename(columns = {"Contract Status Change Date": "Date"}, inplace = True)

In [58]:
ca_real_estate_df.Date = pd.to_datetime(ca_real_estate_df.Date, format = "%m/%d/%y")
current_market_df.Date = pd.to_datetime(current_market_df.Date, format = "%m/%d/%y")

In [60]:
ca_real_estate_df["month"] = ca_real_estate_df.Date.dt.month
current_market_df['month'] = current_market_df.Date.dt.month

In [61]:
ca_real_estate_df["Year"] = ca_real_estate_df.Date.dt.year
current_market_df['Year'] = current_market_df.Date.dt.year

In [63]:
ca_real_estate_df[['Price Per Square Foot']] = ca_real_estate_df[['Price Per Square Foot']].replace('[\$,]','',regex=True).astype(float)
current_market_df[['Price Per Square Foot']] = current_market_df[['Price Per Square Foot']].replace('[\$,]','',regex=True).astype(float)

In [65]:
ca_real_estate_df[['L/C Price']] = ca_real_estate_df[['L/C Price']].replace('[\$,]','',regex=True).astype(float)
current_market_df[['L?C Price']] = current_market_df[['L/C Price']].replace('[\$,]','',regex=True).astype(float)

In [66]:
ca_real_estate_df[["Sqft"]] = ca_real_estate_df.Sqft.str.split('/', expand=True).drop([1], axis = 1)
current_market_df[['Sqft']] = current_market_df.Sqft.str.split('/', expand=True).drop([1], axis = 1)

In [67]:
ca_real_estate_df[["YrBuilt"]] = ca_real_estate_df.YrBuilt.str.split('/', expand=True).drop([1], axis = 1)
current_market_df[['YrBuilt']] = current_market_df.YrBuilt.str.split('/', expand=True).drop([1], axis = 1)

In [72]:
ca_real_estate_df[["Bed & Bath", "A", "B", "C"]] = ca_real_estate_df['Br/Ba'].str.split(",", expand = True)
ca_real_estate_df[["Bed", "Bath"]] = ca_real_estate_df["Bed & Bath"].str.split("/", expand = True)

current_market_df[["Bed & Bath", "A", "B", "C"]] = current_market_df['Br/Ba'].str.split(",", expand = True)
current_market_df[["Bed", "Bath"]] = current_market_df["Bed & Bath"].str.split("/", expand = True)
#fix bathroom into a float

In [73]:
ca_real_estate_df = ca_real_estate_df.drop(columns = ['Bed & Bath'])
current_market_df = current_market_df.drop(columns = ['Bed & Bath'])

In [75]:
ca_real_estate_df.rename(columns = {"Sqft": "Sqft/A"}, inplace = True)
ca_real_estate_df[["LSqft", "Ac"]] = ca_real_estate_df['LSqft/Ac'].str.split('/', expand = True).replace('[\$,]','',regex=True).astype(float)

current_market_df.rename(columns = {"Sqft": "Sqft/A"}, inplace = True)
current_market_df[["LSqft", "Ac"]] = current_market_df['LSqft/Ac'].str.split('/', expand = True).replace('[\$,]','',regex=True).astype(float)

In [19]:
sales_data_month_df = ca_real_estate_df.loc[:,["Listing ID", "L/C Price", "month"]]
sales_data_year_df = ca_real_estate_df.loc[:,["Listing ID", "L/C Price", "Year"]]

In [20]:
sales_data_month_df.month.unique()

array([ 9.,  8.,  7.,  6.,  5.,  2., 10., 11.,  3., nan,  4.,  1.])

In [21]:
Jan_df = sales_data_month_df[sales_data_month_df["month"] == 1.]
Feb_df = sales_data_month_df[sales_data_month_df["month"] == 2.]
March_df = sales_data_month_df[sales_data_month_df["month"] == 3.]
April_df = sales_data_month_df[sales_data_month_df["month"] == 4.]
May_df = sales_data_month_df[sales_data_month_df["month"] == 5.]
June_df = sales_data_month_df[sales_data_month_df["month"] == 6.]
July_df = sales_data_month_df[sales_data_month_df["month"] == 7.]
August_df = sales_data_month_df[sales_data_month_df["month"] == 8.]
Sept_df = sales_data_month_df[sales_data_month_df["month"] == 9.]
Oct_df = sales_data_month_df[sales_data_month_df["month"] == 10.]

In [22]:
June_df.head()

    Listing ID  L/C Price  month
21  OC19107286   875000.0    6.0
37  OC19121108   912000.0    6.0
40  PW19114279   927500.0    6.0
43  OC19120606   945000.0    6.0
63  OC19107872  1100000.0    6.0

In [24]:
orange_county = ca_real_estate_df[ca_real_estate_df['County '] == "Orange"]
Riverside_county = ca_real_estate_df[ca_real_estate_df['County '] == "Riverside"]
LA_county = ca_real_estate_df[ca_real_estate_df['County '] == "Los Angeles"]

In [45]:
LA_July = LA_county[LA_county['month'] == 7.]
LA_August = LA_county[LA_county['month'] == 8.]
LA_September = LA_county[LA_county['month'] == 9.]

In [82]:
Orange_July = orange_county[orange_county['month'] == 7.]
Orange_August = orange_county[orange_county['month'] == 8.]
Orange_September = orange_county[orange_county['month'] == 9.]

In [83]:
Riverside_county_July = Riverside_county[Riverside_county['month'] == 7.]
Riverside_county_August = Riverside_county[Riverside_county['month'] == 8.]
Riverside_county_September = Riverside_county[Riverside_county['month'] == 9.]